* {
	box-sizing: border-box;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* Styling for the header starts here */

.page-header {
	margin: 0;
	padding: 10px 30px;
	box-shadow: 0 -8px 10px 10px grey;
	/*background-color: black;*/
}

.header-wrapper {
	max-width: 1200px;
}

.brand-logo {
	margin: 0 auto;
}

.user-name {
	margin: 0;
	height: 100%;
}

/* Styling for the footer starts here */

footer {
	border-top: 2px solid #272c65;
	margin-top: 30px;
	padding: 10px 30px;
	text-align: center;
}

.footer-wrapper {
	max-width: 1200px;
}

.footer-logo-image {
	margin: 0 auto;
}

.copyright-desc {
	margin: 10px 0;
}

.social-media-list {
	margin: 10px 0;
	list-style: none;
	padding: 0;
	justify-content: center;
}

.social-media-list-item {
	margin: 0 5px;
}

.pages-container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Styles for the profile-container goes here */
.profile_container {
	max-width: 1200px;
	margin: 0 auto;
}

aside {
	margin: 30px auto;
	text-align: left;
}

.profile-pic-container {
	margin: 0 0 10px;
}

.profile-pic {
	margin: 0 auto;
}

/* Styles for welcome-window-container goes here */
.welcome-window-container {
	text-align: center;
}

.welcome-heading {
	margin: 10px 0 10px 0;
}

.category-container {
	justify-content: center;
}

.category-items {
	padding: 20px;
}

.category-img,
.item-image {
	margin: 0 auto;
}

.category-items > p,
.item-type {
	margin: 10px auto;
}

/* Styles for the Category page starts here */
.category-items-container {
	max-width: 1200px;
}

.item-section-container {
	justify-content: flex-start;
}

.item-section {
	padding: 20px;
}

.item-image {
	min-width: 200px;
	min-height: 200px;
}


@media screen and (max-width: 425px) {
	.brand-logo-container,
	.welcome-user {
		width: 100%;
	}

	.welcome-user {
		margin: 10px 0 0;
		text-align: right;
	}
}

@media screen and (min-width: 426px) {
	.brand-logo-container {
		width: 30%;
	}
	.welcome-user {
		width: 70%;
	}
}

@media screen and (min-width: 550px) {
	aside {
		width: 30%;
	}
	.welcome-window-container {
		width: 70%;
	}
}