<div class="category-items-container text-center">
	<h2 class="category-heading">Bracelets Collection</h2>
	<hr>
    
    <div class="container-fluid">
        <h3 class="section-heading text-left">Gold Items</h3>
        <hr>
        <section class="row container-fluid text-center flex-box item-section-contanier">
            <div class="item-section" ng-if="collection.material === 'gold'" ng-repeat="collection in currentCollection">
                <img src="{{ collection.imageUrl }}" alt="product" width="200px" height="200px" class="img-responsive item-image">
                <p class="item-type">{{ collection.type }}</p>
                <a class="btn btn-primary edit-btn" ng-click="editItem(collection)">EDIT</a>
            </div>
            <div class="add-item-container flex-box" ng-click="nativeMaterial='gold'; addButtonClicked();">
                 <div class="add-item">
					<i class="fa fa-plus"></i>
                 </div>
            </div>
        </section> 
    </div>
    
    <div class="container-fluid">
    	<h3 class="section-heading text-left">Diamond Items</h3>
	    <hr>
	     <section class="row container-fluid text-center flex-box item-section-contanier" > 
			<div class="item-section" ng-if="collection.material === 'diamond'" ng-repeat="collection in currentCollection">
	            <img src="{{ collection.imageUrl }}" alt="product" width="200px" height="200px" class="img-responsive item-image">
				<p class="item-type">{{ collection.type }}</p>
				<a class="btn btn-primary edit-btn" ng-click="editItem(collection)">EDIT</a>
			</div>
             <div class="add-item-container flex-box" ng-click="nativeMaterial='diamond'; addButtonClicked()">
                 <div class="add-item">
					<i class="fa fa-plus"></i>
                 </div>
            </div>
		 </section>
    </div>
	
    <div class="container-fluid">
    	<h3 class="section-heading text-left">Silver Items</h3>
	    <hr>
	    <section class="row container-fluid text-center flex-box item-section-contanier" >
			<div class="item-section" ng-if="collection.material === 'silver'" ng-repeat="collection in currentCollection">
	            <img src="{{ collection.imageUrl }}" alt="product" width="200px" height="200px" class="img-responsive item-image">
				<p class="item-type">{{ collection.type }}</p>
				<a class="btn btn-primary edit-btn" ng-click="editItem(collection)">EDIT</a>
			</div>
            <div class="add-item-container flex-box" ng-click="nativeMaterial='silver'; addButtonClicked()">
                 <div class="add-item">
					<i class="fa fa-plus close-buttom"></i>
                 </div>
            </div>
		</section>
    </div>
</div>
<!-- Model for entering new item goes here -->
<div class="new-item-field flex-box" ng-show=isAddClicked>
    <form class="input-container" ng-submit="addItem()">
        <h2 class="text-center form-heading">Add New Jwellery</h2>
        <input type="text" ng-model="item.type" placeholder="Enter Jewellery Type">
        <input type="text" ng-model="item.material" readonly>
        <input type="text" ng-model="item.imageUrl" placeholder="Enter Image URL">
        <button type="submit" value="Add" class="btn btn-primary">Add Item</button>
        <i class="fa fa-times" ng-click="closeModal()"></i>
    </form>
</div>
<div class="new-item-field flex-box" ng-show=isEditClicked ng-model="editableObject">
    <form class="input-container" ng-submit="updateItem()">
        <h2 class="text-center form-heading">Edit Your Item</h2>
        <input type="text" name="type" required placeholder="{{ editableObject.type }}" ng-model="item.type">
        <input type="text" name="material" required placeholder="{{ editableObject.material }}" ng-model="item.material">
        <input type="text" name="url" required placeholder="{{ editableObject.imageUrl }}" ng-model="item.imageUrl">
        <button type="submit" value="Done" class="btn btn-primary">Done Editing</button>
        <button type="reset" value="Reset">Reset</button>
        <i class="fa fa-times" ng-click="closeModal()"></i>
    </form>
</div>